<section class="view intro-2">
<br>
<div class="container">
        <div class="row">
            <div class="col-sm-6">
                    <div class="card" *ngIf="character">
                            <div class="card-header">
                                {{character.name}}
                            </div>
                            <div class="card-block">
                                    <img class="img-fluid" [src]="imageUrl" alt="No image" >
                                    <table clas="table table-hover">
                                            <thead>
                                                <tr class="blue-grey lighten-4">
                                                    <th>nr</th>
                                                    <th>comic</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let comic of character.comics.items" mdbWavesEffect>
                                                <th>x</th>
                                                <td (click)="ClickComic(comic)" >{{comic.name}}</td>
                                            </tr>
                                            </tbody>
                
                                        </table>
                            </div>
                        </div>
            </div>
            <div class="col-sm-6 text-align:center">
                <div class="card" style="margin:5px">
                    <div class="card-header" style="text-align:center">
                        <h1>Characters</h1>
                    </div>
                    <div class="card-block" >
                        <br>
                            <div class="row" style="margin: 3px">
                                <div class="col">
                                    <input type="text" class = "form-control" [(ngModel)]="SetCharName">
                                </div>
                                <div class="col-3">
                                    <a type="button" class="btn btn-primary waves-light" mdbWavesEffect [textContent] = "sortBy" (click)="btnClick()"></a>
                                </div>
                                <div class="col">
                                    <select class="form-control" [(ngModel)]="SetLimit">
                                        <option *ngFor = "let i of limit" value="{{i}}" >{{i}}</option>
                                    </select>
                                </div>
                            </div>
                        <table clas="table table-hover">
                            
                            <thead>
                                
                                <tr class="blue-grey lighten-4">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>image</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let char of characters" mdbWavesEffect (click)="pressChar(char.id)">
                                <th>{{char.id}}</th>
                                <td>{{char.name}}</td>
                                <td><img class="img-fluid" src="{{char.thumbnail.path}}.{{char.thumbnail.extension}}" alt="No image"></td>
                            </tr>
                            </tbody>

                        </table>
                        <div class="row">
                                <div class="col">
                                    <a type="button" class="btn btn-danger waves-light" mdbWavesEffect  (click)="btnPrevious()">Previous</a>
                                </div>
                                <div class="col">
                                    <a type="button" class="btn btn-success waves-light" mdbWavesEffect  (click)="btnNext()">Next</a>
                                </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>