
dotNet/MarvelMoviesAPI/\.vs/MarvelMoviesAPI/v15/\.suo

dotNet/MarvelMoviesAPI/MarvelMoviesAPI/bin/Debug/netcoreapp2\.0/

dotNet/MarvelMoviesAPI/MarvelMoviesAPI/obj/Debug/netcoreapp2\.0/

dotNet/MarvelMoviesAPI/\.vs/MarvelMoviesAPI/v15/Server/sqlite3/storage\.ide
