
<div class="card text-center" >
        <div class="card-header">
            <h4 class="card-title"><strong>ADD Villain</strong></h4>
        </div>
        <div class="card-block">
            <div class="card-text">
                <table class="table table-striped">
                    <tbody>
                        <tr><th>Name:</th><th><input type="text" class = "form-control" [(ngModel)]="newVillain.name"></th></tr>
                        <tr><th>Actor:</th><th><input type="text" class = "form-control" [(ngModel)]="newVillain.actor"></th></tr>
    
                    </tbody>
                    
                </table>
                <div class="text-center">
                    <button class="btn btn-unique waves-light" mdbWavesEffect>Send villain
                        <i class="fa fa-paper-plane-o ml-1"></i>
                    </button>
                </div>
                <br>
            </div>
        </div>
    </div>
    