<section class="view intro-2">
<br>
<div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center" *ngIf="comic">
                        <div class="card-header">
                            <h4 class="card-title"><strong>{{comic.title}}</strong></h4>
                        </div>
                        <div class="card-block">
                            <div class="card-text">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr><th>Picture:</th><th><img class="imgComic float-right" src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="No image"></th></tr>

                                    <tr><th>Desctription:</th><th>{{comic.description}}</th></tr>

                                    <tr><th>pageCount:</th><th> {{comic.pageCount}}</th></tr>

                                    <tr><th>{{comic.prices[0].type}}</th><th>${{comic.prices[0].price}}</th></tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>