<section class="view intro-2">
<br>
<div class="container">
        <div class="row">
            <div class="col-sm-6">
                    <div class="card" *ngIf="character">
                            <div class="card-header">
                                {{character.name}}
                            </div>
                            <div class="card-block">
                                    <img class="img-fluid" [src]="imageUrl" alt="No image" >
                                    <table clas="table table-hover">
                                            <thead>
                                                <tr class="blue-grey lighten-4">
                                                    <th>nr</th>
                                                    <th>comic</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let comic of character.comics.items" mdbWavesEffect (click)="pressComic(comics)">
                                                <th>x</th>
                                                <td>{{comic.name}}</td>
                                            </tr>
                                            </tbody>
                
                                        </table>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</section>