<br>
<div class="container">
    <div class="card" style="margin:0 auto;">
        <div class="card-header" style="text-align:center">
            <h1>Characters</h1>
        </div>
        <div class="card-block" >
            <table clas="table table-hover">
                <thead>
                <tr class="blue-grey lighten-4">
                    <th>ID</th>
                    <th>Name</th>
                    <th>image</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let char of characters" >
                    <th>{{char.id}}</th>
                    <td>{{char.name}}</td>
                    <td><img class="img-fluid" src="{{char.thumbnail.path}}.{{char.thumbnail.extension}}" alt="No image"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>