<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <link href="vendor/mdb/css/bootstrap.css" rel="stylesheet">
    <link href="vendor/mdb/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/mdb/css/mdb.css" rel="stylesheet">
    <link href="vendor/mdb/css/mdb.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/intro.css" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<body>
<!-- Main navigation -->
<header>

    <!-- Full Page Intro -->
    <div class="view" >
      <!-- Mask & flexbox options-->
      <div class="mask  d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row pt-lg-5 mt-lg-5">
            <!--Grid column-->
            <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft content" data-wow-delay="0.3s">
              <h1 class="display-4 font-weight-bold primary-text">Marvel</h1>
              <hr class="hr-light">
              <h6 class="mb-3 secondary-text">De Marvel commic and cinematic universe Library</h6>
              <a class="btn btn-outline-white secondary-text">ALFA</a>
              <form action="/googlelogin" method="GET">
                    <button type="submit" class="btn blue-gradient btn-outline-danger  third-text" value="Login"> Login with google
                    <i class="fab fa-google"></i>
                    </button>
              </form>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            

                    <!--Body-->


                    <!--Textarea with icon prefix-->
                   

              <!--/.Form-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>