<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="intro.component.scss" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<!--Main Navigation-->
<header>

    <!--Intro Section-->
    <section class="view intro-2">
        <div class="full-bg-img mask rgba-stylish-strong">
            <div class="container flex-center">
                <div class="d-flex align-items-center">
                    <div class="row flex-center pt-5 mt-3">
                        <div class="col-md-6 text-center text-md-left mb-5">
                            <div class="white-text">
                                <h1 class="display-4 wow fadeInLeft" data-wow-delay="0.3s">Marvel</h1>
                                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">De Marvel commic and cinematic universe Library</h6>
                                <br>
                                <h7 class="wow fadeInLeft" data-wow-delay="0.3s">ALFA</h7>
                                <br>
                                <a class="btn peach-gradient wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect>Learn more</a>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-xl-5 offset-xl-1">
                            <!--Form-->
                            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                <div class="card-body z-depth-2">
                                    <!--Header-->
                                    <div class="text-center">
                                        <h3>Login</h3>
                                        <hr>
                                    </div>

                                    <!--Body-->
                                    <form action="/googlelogin" method="GET">
                                        <div style="width: 100%; text-align: center;">
                                            <input type="submit" style="margin-top: 20%;" value="Login"> with google
                                            <i class="fab fa-google"></i>
                                        </div>
                                    </form>

                                    <!--Textarea with icon prefix-->
                                   

                                </div>
                            </div>
                            <!--/.Form-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</header>
<!--Main Navigation-->